.header__logo {
  width: 142px;
  height: 33px;
  margin: 45px auto 40px 0;
  display: block;
}

@media (max-width: 950px) {
  .header__logo {
    padding: 0 19px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin: 28px auto 32px 8px;
  }
}
