.popup__status-text {
    text-align: center;
    margin: 0;
    padding-bottom: 23px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}

@media (max-width: 560px) {
    .popup__status-text {
        font-size: 20px;
        line-height: 24px;
    }
  }