.header__menu-label {
  width: 25px;
  height: 38px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  align-self: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  width: 0px;
}

@media (max-width: 600px) {
  .header__menu-label {
    margin-right: 30px;
    width: 25px;

    visibility: visible;
    opacity: 1;
    transition: 0.3s;
  }
}
