.element__delete {
  width: 18px;
  height: 19px;
  background: url(../../../images/delete-element-icon.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.element__delete:hover {
  opacity: 0.6;
  transition: 0.3s;
}