.popup__close {
  width: 32px;
  height: 32px;
  background:  url(../../../images/close-icon.svg) no-repeat center;
  cursor: pointer;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 2;
}

.popup__close:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media (max-width: 560px) {
  .popup__close {
    background: url(../../../images/close-icon-s.svg) no-repeat center;
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
