.header__info-email {
  color: #ffffff;
  font-size: 18px;
  display: inline-block;
  margin: 0;
  margin-right: 24px;
}

@media (max-width: 600px) {
  .header__info-email {
    margin-bottom: 18px;
    margin-top: 40px;
    margin-right: 0px;
  }
}
